<html>
  <head>
  </head>
  <body>
    <h1>Statuts, association <%= @status.name %></h1>

    <h2>Titre I</h2>
    <h2>PRÉSENTATION DE L’ASSOCIATION</h2>

    <section>
      <h3>Article 1 : Dénomination, siège social et droit applicable</h3>

      <ol>
        <li>Il est fondé entre les adhérents aux présents statuts une association ayant pour

          dénomination : <%= @status.name %></li>
        <li>Le siège social est fixé à <%= @status.city %> (CP <%= @status.post_code %>)
          <% if @status.address.present? %>
            , <%= @status.address %>
          <% end %>
          . Il pourra être modifié par décision du Bureau.</li>
          <li>L'association est régie par la loi du 1er juillet 1901 et le décret du 16 août 1901.</li>
          <% case @status.type
          when 'non_declared' %>
            <li> Les fondateurs de l’association ont décidé de ne pas procéder à sa publication conformément à la faculté ouverte par l’article 2 de la loi du 1er juillet 1901.</li>
          <% end %>
      </ol>
      <h3>Article 3 : Moyens d'action</h3>
      <% case @status.type
         when 'non_declared' %>
        <p>Les moyens d’action de l’association sont notamment:</p>
        <ul>
          <li>l'organisation entre les membres de réunions, séances de travail ;</li>
          <li>l’organisation entre les membres de diverses manifestations et toute initiative pouvant aider à la réalisation de l’objet de l’association ;</li>
          <li>Tout autre moyen permettant l'accomplissement de son objet et compatible avec l’absence de personnalité juridique de l’association.</li>
        </ul>
      <%  when 'declared', 'authorized' %>
        <% if @status.mean_publication %>
          les publications, les conférences, les réunions de travail ;
        <% end %>
        <% if @status.mean_event %>
          l'organisation de conventions et événements;
        <% end %>
        <% if @status.mean_manifestation %>
          l’organisation de diverses manifestations et toute initiative pouvant aider à la réalisation de l’objet de l’association ;
        <% end %>
        <% if @status.mean_other %>
          tout autre moyen permettant l'accomplissement de son objet ;
        <% end %>
        <% if @status.mean_added %>
          <%= @status.mean_added %>
        <% end %>
      <% end %>
      <h3>Article 4 : Durée de l'association</h3>
      <% if @status.end_duration.blank? and @status.end_date.blank? and @status.end_event.blank? %>
        <p> La durée de l’association est illimitée.</p>
      <% end %>
      <% if @status.end_duration.present? %>
        L’association est constituée pour une durée de <%= @status.end_duration %>, à compter de la publication de sa création au Journal Officiel.
      <% end %>
      <% if @status.end_date.present? %>
        L’association prendra fin au <%= @status.end_date %>.
      <% end %>
      <% if @status.end_event.present? %>
        L’association prendra fin à l’issue de l’assemblée générale constatant la réalisation de l’événement suivant : <%= @status.end_event %>
      <% end %>
      <h3>Article 17 : Ressources de l'association</h3>
      <% case @status.type
         when 'non_declared' %>
        <p>Les ressources de l’association se composent à l’exclusion de toute autre ressource</p>
        <ul>
          <li>du bénévolat ; </li>
          <li>des cotisations ;</li>
        </ul>
      <% end %>
    </section>
  </body>
</html>
